REDDIT = {
  'USERNAME': '',
  'PASSWORD': '',
  'CLIENT_ID': '',
  'CLIENT_SECRET': '',
  'USER_AGENT': 'python',
}

MASTODON = {
  'CLIENT_ID': '',
  'CLIENT_SECRET': '',
  'USERNAME': '',
  'PASSWORD': '',
  'EMAIL': '',
  'BASE_URL': '',
  'EMAIL_DOMAIN': '',
  'DEFAULT_PASSWORD': '',
}

SECRET_KEY = ''
